.PostsNotFound {
  color: black;
  background: wheat;
}

.postTitle {
  color: antiquewhite;
  background: black;
  margin-top: 1rem;

}

.postSubTitle {
  color: black;
  background: whitesmoke;
  margin-bottom: 1rem;
}
